<nav id="navbar" class="navbar">
    <a class="navbar-logo" href="/">reMarkable</a>
    <ul class="navbar-list">
        <li class="rmk-nav-item">
            <a class="rmk-nav-link" aria-current="page" href="/" id="home">Home</a>
        </li>
        <li class="rmk-nav-item">
            <a class="rmk-nav-link" href="/about" id="about">About</a>
        </li>
        <li class="rmk-nav-item">
            <a class="rmk-nav-link" href="/contact" id="contact">Contact</a>
        </li>
        <!-- <li class="rmk-nav-item">
            <a class="rmk-nav-link" href="/createProduct" id="Create Product">Create Product</a>
        </li>
        <li class="rmk-nav-item">
            <a class="rmk-nav-link" href="/retrieveProducts" >Retrieve Product</a>
        </li>
        <li class="rmk-nav-item">
            <a class="rmk-nav-link" href="">View Form Submissions</a>
        </li> -->
        <li class="rmk-nav-item">
            <a class="rmk-nav-link" href="/community">Community</a>
        </li>
        
        {% if session.get('role') == 'admin' %} 
        <li class="rmk-nav-item">
            <a class="rmk-nav-link" href="/readcontact" id="readcontact">View form submissions</a>
        </li>
        {% endif %}
        <li class="rmk-nav-item">
            <!-- insert back delete account form arfan-->
        </li>
    </ul>
    <a class="rmk-nav-link navrbar-login" href="/login" id="login">Login</a>
</nav>
